 @import url ('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration:none ;
}

body{
    font-family:"Roboto",sans-serif;
    background-color:#1f031c;
    color:#f5f5f5;
} 
header{
    display:flex;
    z-index: 1000;
    top: 0;
    left:0;
    position: fixed;
    align-items: center;
justify-content: space-between;
    width:100%;
    padding:20px 10%;
}
header.sticky{
    background: #1f031c;
    border-bottom: 1px solid #1f2225 ;
    padding: 2px 10%;
}
.logo{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
}
span{
    color:#12f7ff;
}
.navigationlist{
    display:flex;
}
.navigationlist a{
    color:#f5f5f5;
    font-weight: 500;
    padding:10px 20px;

}
.navigationlist a:hover{
    color:#12f7ff;
    
}

   

}
section{
    padding:100px 10%;

}
.home {
   min-height: 100vh;
    height: 100%;
    width:100%;
display:flex;
align-items: center;

background: #1f031c;
}





.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: xxx-larger;
    font-weight: 700;
    text-align: center;
    position: relative;
}
.home-content p{
    color:#bdbdbd;
    text-align: center;
    position: relative;
    line-height: 1.6rem;
    font-weight: 600;
    font-size: 48px;
}
/* about section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: #1f2225;
}
.about .img-about{
    text-align: center;
    position: relative;
}
.about .img-about img{
max-width: 400px;
height: auto;
}
.about-content span{
    color:#12f7ff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing:2px;
    text-transform: uppercase;
}
.about-content p{
    color: #f5f5f5;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-size: large;
}

/* skills section */
.skills{
    background: #1f031c;
}
.skills-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap:50px ;
}
.skills .main-text h1{ 
    color: #ffff;
    font-size: xxx-larger;
}
.skill-bar{
    margin-bottom: 2.5rem;

}
.skills .main-text h2{
    margin-bottom: 2rem;
    font-size: 40px;
    text-align: center;
}
.skill-main .skill-left h1{
    text-align: center;
}
.skill-left .skill-bar .info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: #050505;
    border-radius: 25px;
    margin-top:10px ;
    position: relative;

}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;
    background: #12f7ff;
    border-radius: 25px;
    box-shadow: #12f7ff;

}
.skill-bar .bar .html{
    width:90%;
   
}
.skill-bar .bar .css{
    width:85%;
   
}
.skill-bar .bar .c{
    width:90%;
    
}
.skill-bar .bar .java{
    width:70%;
  
}
/* skills right */
.skill-right h1{
   
    font-size: xxx-larger;
    color: #ffffff;
}
.non-technical{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    position: relative;
    margin:10px 0;
    flex:1 1 15rem;
}
.box .text{
    text-align: center;
    color:#fff ;
    font-size: 16px;
}
.box .text p{
    font:400;
letter-spacing: 1px;
position: relative;
top:40%;

text-align: center;
color: #ffffff;
}




/* portfolio */

.main-text h1{
    text-align: center;
    color: #12f7ff;
    font-size:xxx-large;
}

.filler-buttons{
    margin:32px;
    text-align: center;
}
.filler-buttons .button{
    background: none;
    outline: none;
    border: none;
cursor: pointer;
font-size: 16px;
font-weight: 600;
letter-spacing: 4px;
margin-left: 1.3rem;
color:#f5f5f5;
}


.filler-buttons .button:hover{
    color: #12f7ff;
}
.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    gap:32px;
}
.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background:#1f2225;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid #12f7ff;
   
    box-shadow:#12f7ff;



}
.port-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.port-img img img{
    /* width: 100%; */
    opacity: .5s;
    height: 100%;
    
    transition: .5s;


}
.port-content{
    position: absolute ;
    bottom: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    opacity:0;
    background: linear-gradient(rgba(0,0,0,.2),black);
    display: flex;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .5s;
    padding: 0 32px;
}
.port-box:hover .port-content{
    opacity: 4;
}
.port-box:hover .port-img img{
    transform: scale(1.1);
}
.port-content h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    right: 0;
    color: white;
}
.port-content p{
    font-size: 15px;
    margin: 5px 0 15px 0;
    text-align: center;
    color: #fff;
    text-decoration: solid;
    color: white;
    
}

/* contact */
.contact{
    background: #1f2225;
    width:100%
 

}
.contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    align-items: center;
 
}
.contact form input,
.contact form textarea{
    width:100%;
    color: black;
    margin-bottom: .8rem;
    border:none;
    border-radius: 5px;
    padding: .7rem;
    align-items: centers;
}
.contact form textarea{
    resize:none;
} 
.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}


/* footer */

.footer{
    padding:1.5rem 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    color: #bdbdbd;

}
.footer a{
    display: inline-flex;
    justify-content: center;
    color: #f5f5f5;
    background: #12f7ff;
    padding: .6rem;
    border-radius: 5px;
}
.footer a{
    font-size: 1rem;
    color: #1f2225;
}
 















